{% extends 'auth_template.html' %}
{% load static %}
{% block title %}Forgot Password{% endblock %}
{% block main %}
<div class="auth-main v1">
    <div class="auth-wrapper">
      <div class="auth-form">
        <div class="card my-5">
          <div class="card-body">
            <div class="text-center">
              <img src="{% static 'images/authentication/img-auth-forgot-password.png' %}" alt="images" class="img-fluid mb-3">
              <h4 class="f-w-500 mb-1">Forgot Password</h4>
              <p class="mb-3">Back to <a href="/staff/login/" class="link-primary ms-1">Log in</a></p>
            </div>
            <div class="mb-3 text-center">
              Contact the system admin for password reset.
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
{% endblock %}